body {
    margin: 0;
}
.header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
}
.left {
    float: left;
    width: 20%;
    height: 400px;
    background-color: lightcoral;
}
.right {
    float: left;
    width: 80%;
    height: 400px;
    background-color: lightskyblue;
}
.footer {
    height: 100px;
    background-color: lightslategray;
    clear: both;
}